@import '../global/mixins';
@import '../global/variables';
.personal-tab-container{
  .personal-tab-title{
    margin: 20px 0px;
    @include for-tablet-portrait-down{
      text-align: left;

    }
  }

  .inner-tab-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px 0 0;
    padding: 20px 40px;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.1);
    .left-col{
      display: flex;
      text-align: left;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .link{
        text-decoration: none;
        color: #a0a0a0;
        font-family: 'Karla', sans-serif;
        opacity: 1;
        transition: opacity 0.3s;
        font-size: 14px;
        line-height: 1.5;
        &:hover{
          opacity: 0.75;
        }
      }
    }

    .right-col{
      display: flex;
      text-align: right;
      align-items: flex-start;
      justify-content: flex-end;
      .date{
        font-family: 'Karla', sans-serif;
        color: $grey-mid;
        @include for-tablet-portrait-down{
          margin-top:5px;
        }
      }
    }
  }
}
